.changeAccountSettingsText {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 40px;
    margin: 2%;
}

.line {
    width: 100%;
    margin-bottom: 10px;
}

.informationText {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 32px; 
    color: #B56E19;
    margin: 0% 0% 0.5% 0%;
}